<mat-card class="food-form">
  <div>
    <img class="franklin-btn" (click)="formSubmit()" src="../../assets/franklin.svg">
    <span (click)="openForm()" class="show-form">{{formCharacter}}</span>
  </div>

  <div *ngIf="renderForm" class="form-input-fields">
    <mat-form-field class="full-width">
      <input matInput placeholder="Cuisine">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Distance">
    </mat-form-field>
    <mat-checkbox matInput>Offers delivery</mat-checkbox>
  </div>
</mat-card>
