@keyframes bouncing {
  0%   { top: 0px; transform: scaleY(1.0) scaleX(1.0); }
  45%  { top: 0px; transform: scaleY(1.0) scaleX(1.0); }
  60%  { top: 15px; transform: scaleY(0.85) scaleX(1.10); }
  70%  { top: 0px; transform: scaleY(1.0) scaleX(1.0); }
  100% { top: -55px; transform: scaleY(1.0) scaleX(1.0); }
}

.food-form {
  width: 240px;
  margin: auto;
  background-color: #AAEEFF;
  padding: 0;
}

.franklin-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 200px;
  height: auto;
}

.franklin {
  position: relative;
  -webkit-animation: bouncing 1s infinite alternate;
  -webkit-animation-timing-function: ease-out;
          animation: bouncing 1s infinite alternate;
          animation-timing-function: ease-out;
}

.description {
  font-family: sans-serif;
  color: #555;
  margin-top: 80px;
  padding: 0 15%;
}

.form-input-fields {
  padding-left: 7px;
  padding-right: 7px;
  background-color: white;
  padding-bottom: 8px;
  padding-top: 8px;
}

mat-form-field {
  display: block;
}

.show-form {
  color: white;
  cursor: pointer;
}

.fill {
  padding: 0px 30px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*background-color: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}


h1 {
  font-size: 4em;
  font-weight: bold;
  font-family: 'Bad Script', cursive;
  transform: rotate(-5deg);
  line-height: 100%;
  margin: 0px;
}

.center {
  /*display: flex;*/
  /*align-content: center;*/
  justify-content: center;
  /*flex-direction: column;*/
  text-align: center;
}

.toleft {
  position: relative;
  left: -30px;
}

.toright {
  position: relative;
  left: 30px;
}

button {
  margin: 20px auto;
  text-align: center;
  border: 0;
  border-style: none;
  padding: 4px 10px;
  border-radius: 3px;
  background-color: #00aad4;
  font-size: 2em;
}
