
<div class="fill">
  <div class="inner">
    <div class="center">
      <h1 class="toleft">Franklin</h1>
    </div>
    <div class="center">
      <h1 class="toRight">Decides!</h1>
    </div>
    <div class="center">
      <img class="franklin franklin-btn" (click)="formSubmit(); start()" src="../../assets/franklin.svg">
    </div>
    <br>
    <!-- <div class="center">
      <button mat-button (click)="start()">Find food</button>
    </div> -->
    <div class="description center">
      <p>Franklin uses your location to find restaurants near you.</p>
      <p>Franklin picks the place for you.</p>
      <p>Tap Franklin to start.</p>
    </div>
  </div>
</div>
