@keyframes bouncing {
  0%   {top: 30px;}
  50%  {top: 30px;}
  100%  {top: 0px;}
}

@-webkit-keyframes bouncing {
  0%   {top: 30px;}
  50%  {top: 30px;}
  100%  {top: 0px;}
}

.loading-icon {
  position: relative;
  -webkit-animation: bouncing 0.55s infinite alternate;
  -webkit-animation-timing-function: ease-out;
          animation: bouncing 0.55s infinite alternate;
          animation-timing-function: ease-out;
  width: 40px;
  margin: 5px;
}

.wrapper {
  text-align: center;
}

.loading-div {
  display: inline-block;
  height: 78px;
  padding: 5px;
  margin: 0 auto;
}

