<div class="wrapper">
  <div class="loading-div">
    <div class="icon-block">
      <img class="loading-icon" style="animation-delay: 0s" src="../../assets/franklil.svg">
      <div class="shadow" style="animation-delay: 0s"></div>
    </div>
    <div class="icon-block">
      <img class="loading-icon" style="animation-delay: 0.1s" src="../../assets/franklil.svg">
      <div class="shadow" style="animation-delay: 0.1s"></div>
    </div>
    <div class="icon-block">
      <img class="loading-icon" style="animation-delay: 0.2s" src="../../assets/franklil.svg">
      <div class="shadow" style="animation-delay: 0.2s"></div>
    </div>
  </div>
</div>
