<div [ngSwitch]="page">
	<app-food-form
		*ngSwitchCase="'landing'"
		(startEvent)="startEventHandler($event)">
	</app-food-form>
	<app-loading class="loading-animation" *ngSwitchCase="'loading'"></app-loading>
	<div *ngSwitchCase="'spinner'">
		<app-spinner (currentPosEvent)="listenCurrentHandler($event)" (winnerEvent)="startWinHandler($event)"></app-spinner>
  </div>
  <div *ngSwitchCase="'final'">
    <div class="final-page" *ngIf="result.length >= 6">
        <div class="fill">
            <div class="inner">
              <div class="center">
                <h1 class="toleft">Franklin</h1>
              </div>
              <div class="center">
                <h1 class="toRight">has decided!</h1>
              </div>
              <div class="center">
                <img class="franklin-btn franklin-final" (click)="nextFranklin()" [src]="different_franklins[current_franklin]">
                <div class="final-shadow"></div>
              </div>
              <br>
            </div>
          </div>
      <div class="bottom-card">
        <mat-card class="final-info-card-title">
            <mat-card-title style="color:white;">{{ result[winner].name }}</mat-card-title>
          </mat-card>
          <mat-card class="final-info-card-content">
            <mat-card-content>{{ result[winner].address }}</mat-card-content>
            <mat-card-content>{{ result[winner].phone_number }}</mat-card-content>
            <mat-card-content><a href="{{result[winner].website}}">{{result[winner].website}}</a> </mat-card-content>
            <mat-card-content><a href="{{result[winner].google_maps_url}}">Google maps</a> </mat-card-content>
          </mat-card>
      </div>
    </div>
  </div>
	<p *ngSwitchDefault>Ended up somewhere bad?</p>
</div>

<div *ngIf="result.length >= 6 && page == 'spinner'">
  <div [class.highlighted]="i == currentPos" *ngFor="let i of createRange(6)" class="location-card">
        <img class="shape-icon" src="{{ options[i] }}" alt="">
        <button *ngIf="!rerolled" class="die-button mat-small" mat-button>
          <img class="die-light" (click)="reroll(i)" src="../assets/die-light.png" alt="">
        </button>
        <button *ngIf="rerolled" class="die-button" mat-button>
          <img class="die-light grayed-out"src="../assets/die-light.png" alt="">
        </button>
        <span class="restaurant-name">{{ result[i].name }}</span>
    </div>



</div>
