<div [ngSwitch]="page">
	<app-food-form
		*ngSwitchCase="'landing'"
		(startEvent)="startEventHandler($event)">
	</app-food-form>
	<app-loading class="loading-animation" *ngSwitchCase="'loading'"></app-loading>
	<div *ngSwitchCase="'spinner'">
		<app-spinner (winnerEvent)="startWinHandler($event)"></app-spinner>
	</div>
	<p *ngSwitchDefault>Ended up somewhere bad?</p>
</div>

<div *ngIf="result.length >= 6 && page == 'spinner'">
  <div *ngFor="let i of createRange(6)" class="location-card">
      <img class="shape-icon" src="{{ options[i] }}" alt="">
      <button *ngIf="!rerolled" class="die-button" mat-button>
        <img class="die-light" (click)="reroll(i)" src="../assets/die-light.png" alt="">
      </button>
      <button *ngIf="rerolled" class="die-button" mat-button>
        <img class="die-light grayed-out"src="../assets/die-light.png" alt="">
      </button>
      {{ result[i].name }}
    </div>

</div>
