body {
	margin: 0px;
}

.location-card {
  width: 100%;
  background-color: white;
  margin-bottom: 0px;
  padding: 10px;
  box-sizing: border-box;
}

.shape-icon {
  width: 20px;
}

.grayed-out {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3;
}

.location-card:nth-child(even) {
  background-color: white;
}

.location-card:nth-child(odd) {
  background-color: #f0f0f0;
}

.die-light {
  width: 20px;
  height: auto;
}

.die-button {
  float: right;
  position: relative;
  top: -8px;
}

.franklin-btn {
  margin-top: -20px;
  padding-top: 0px;
  padding-bottom: 25px;
  padding-left: 20px;
  width: 200px;
  height: auto;
}

.franklin {
  position: relative;
  -webkit-animation: bouncing 1s infinite alternate;
  -webkit-animation-timing-function: ease-out;
          animation: bouncing 1s infinite alternate;
          animation-timing-function: ease-out;
}

.loading-animation {
  background-color: black;
}

.final-page {
  text-align: center;
}

.fill {
  width: 100vw;
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 35px;
}

.center {
  /*display: flex;*/
  /*align-content: center;*/
  justify-content: center;
  /*flex-direction: column;*/
  text-align: center;
}

.toleft {
  position: relative;
  left: -30px;
}

.toright {
  position: relative;
  left: 30px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Bad Script', cursive;
  transform: rotate(-5deg);
  line-height: 100%;
  margin: 0px;
}
