body {
	margin: 0px;
}

.location-card {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.die-light {
  width: 20px;
  height: auto;
}

.die-button {
  float: right;
  position: relative;
  top: -8px;
}
